body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 91vh;
}

h1 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 10px;
}

.chat-container {
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#dialogue-box {
    width: 93%;
    padding: 30px;
    overflow-y: auto;
    position: relative; /* 추가 */
}

#dialogue {
    color: #fff;
    width: 100%;
}

#count-box {
    position: absolute; /* 추가 */
    top: 10px; /* 추가 */
    right: 10px; /* 추가 */
    background-color: #444; /* 추가 */
    color: #fff; /* 추가 */
    padding: 5px 10px; /* 추가 */
    border-radius: 5px; /* 추가 */
    font-size: 1em; /* 추가 */
}

#start-btn {
    align-self: center;
    margin: 20px 0;
    background-color: #111111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

#start-btn:hover {
    background-color: #555;
}

#send-btn {
    width: 87px;
    height: 38px;
    margin-right: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

#loading-spinner-container {
    display: none;
    width: 87px;
    height: 38px;
    margin-right: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
}

#send-btn:hover {
    background-color: #555;
}

#loading-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    margin: auto;
}

.input-container {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
    border-radius: 10px;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.message {
    margin-bottom: 10px;
}

.message .user {
    color: #6bf;
}

.message .ai {
    color: #f6a;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #555;
}

#character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
}
/* 캐릭터 박스 스타일 */
.character-box {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.character-box:hover .character-details {
    display: block; /* 또는 visibility: visible; 또는 opacity: 1; */
}

/* 세부사항 표시 스타일 */
.character-details {
    display: none; /* 또는 visibility: hidden; 또는 opacity: 0; */
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
}

/* 채팅창 스타일 */
.chat-box {
    resize: vertical;
    overflow: auto;
    max-height: 500px; /* 최대 높이 설정 */
}
