body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 91vh;
}

h1 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 10px;
}

.chat-container {
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#dialogue-box {
    width: 93%;
    padding: 30px;
    overflow-y: auto;
    position: relative; /* 추가 */
}

#dialogue {
    color: #fff;
    width: 100%;
}

#count-box {
    position: absolute; /* 추가 */
    top: 10px; /* 추가 */
    right: 10px; /* 추가 */
    background-color: #444; /* 추가 */
    color: #fff; /* 추가 */
    padding: 5px 10px; /* 추가 */
    border-radius: 5px; /* 추가 */
    font-size: 1em; /* 추가 */
}

#start-btn {
    align-self: center;
    margin: 20px 0;
    background-color: #111111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

#start-btn:hover {
    background-color: #555;
}

#send-btn {
    width: 87px;
    height: 38px;
    margin-right: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

#loading-spinner-container {
    display: none;
    width: 87px;
    height: 38px;
    margin-right: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
}

#send-btn:hover {
    background-color: #555;
}

#loading-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    margin: auto;
}

.input-container {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
    border-radius: 10px;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.message {
    margin-bottom: 10px;
}

.message .user {
    color: #6bf;
}

.message .ai {
    color: #f6a;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #555;
}

#character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
}

/* 캐릭터 박스 스타일 */
.character-box {
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
    cursor: pointer; /* 호버 효과를 위해 커서를 포인터로 변경 */
}

.character-box img {
    width: 100%; /* 이미지를 박스 크기에 맞게 조정 */
    height: auto; /* 이미지의 비율 유지 */
}

/* 세부사항 표시 스타일 */
.character-box .character-details {
    visibility: hidden; /* 초기에는 숨김 */
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -125%; /* 툴팁이 아래로 나타나도록 설정 */
    left: 50%;
    margin-left: -60px; /* 툴팁 가로 중앙 정렬 */
    opacity: 0; /* 애니메이션 효과 준비를 위해 투명도 0으로 설정 */
    transition: opacity 0.3s; /* 툴팁이 나타나는 애니메이션 설정 */
}

/* 호버 시 세부사항 표시 */
.character-box:hover .character-details {
    visibility: visible;
    opacity: 1;
}

/* 채팅창 스타일 */
.chat-box {
    resize: vertical;
    overflow: auto;
    max-height: 500px; /* 최대 높이 설정 */
}
